// Use border-box for everything
html {
  box-sizing: border-box;
  font-family: 'MontserratLight';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

// Resets margins and paddings for headers, ul, ol and p
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}

// Completely resets form items
// ----------------------------
// Super hard reset that removes all borders
// and radius of all form items.
// ============================
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

header {
  font-size: 24px;
  color: #666;
  font-family: 'MontserratLight';
  text-align: center;
  @include md {
    margin: 0;
    text-align: center;
  }
  padding-bottom: 2px;
}

.b-content-container {
  padding: 50px 0;
  border-radius: 3px;
  background-color: #fafafa;
}

p {
  line-height: 2;
}

.shadow{
  -webkit-box-shadow: 0px 3px 16px -2px rgba(138,138,138,1);
  -moz-box-shadow: 0px 3px 16px -2px rgba(138,138,138,1);
  box-shadow: 0px 3px 16px -2px rgba(138,138,138,1);
}
