@import 'functions';

// CLEARFIX HACK
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.red {
  border: 1px solid #f00;
}

.green {
  border: 1px solid #0f0;
}

.blue {
  border: 1px solid #00f;
}

.fuschia {
  border: 1px solid #f0f;
}
