.countdown-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  height: 120px;
  margin-top: 50px;

  .container {
    padding: 10px 0px;
    width: 150px;
    text-align: left;
    font-size: 50px;
    font-family: 'MontserratBold';
    span {
      display: block;
      font-size: 20px;
      font-family: 'MontserratThin';
      min-height: 20px;
    }
  }
}
