@font-face {
   font-family: 'MontserratThin';
   src:  url('../assets/fonts/MontserratAlternates-Thin.otf') format('opentype');
   font-style: normal;
}

@font-face {
   font-family: 'MontserratLight';
   src:  url('../assets/fonts/Montserrat-ExtraLight.otf') format('opentype');
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src:  url('../assets/fonts/Montserrat-Regular.otf') format('opentype');
   font-style: normal;
}

@font-face {
   font-family: 'MontserratBold';
   src:  url('../assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
   font-style: normal;
}

@font-face {
   font-family: 'MontserratBlack';
   src:  url('../assets/fonts/MontserratAlternates-Black.otf') format('opentype');
   font-style: normal;
}


@font-face {
   font-family: 'NexaRustSlab';
   src: url('../assets/fonts/NexaRustSlab-BlackShadow01-Free-webfont.eot');
   src: url('../assets/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
        url('../assets/fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
        url('../assets/fonts/NexaRustSlab-BlackShadow01-Free-webfont.ttf')  format('truetype'),
        url('../assets/fonts/NexaRustSlab-BlackShadow01-Free-webfont.svg#svgFontName') format('svg');
   font-style: normal;
}
