@import './app/scss/main';
//$smokescreen

#info {
  text-align: center;
  // height: 100vh;

  h1 {
    padding: 100px 0 50px 0;
  }

  section.info-section {

    font-family: 'Montserrat';
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.5;

    h2 {
      padding: 50px 0 10px 0;
      color: #333;
    }

    p {
      max-width: 750px;
      margin: 0 auto;
    }


    .panels-container {
      display: flex;
      width: 100%;
      padding: 50px 5vw 50px 5vw;
      flex-direction: column;
      @include md { flex-direction: row; }

      article {
        padding: 0 10px;
        margin: 20px 0;
        flex-grow: 1;
        @include md { margin: 0; }

        &.when {
          text-align: center;
          h1{
            padding: 0;
            font-family: 'MontserratLight';
          }
          //.b-content-container { background: transparent; }
        }

        &.where {
          @include md { flex-grow: 3; }
          .map-box {
            height: 400px;
            position: relative;
          }
        }


      }
    }
  }
}
