@import './app/scss/main';
//$smokescreen

#info {
  text-align: center;
  // height: 100vh;

  h1 {
    padding: 100px 0 50px 0;
  }

  section.info-section {

    font-family: 'Montserrat';
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.5;

    h2 {
      padding: 50px 0 10px 0;
      color: #333;
    }


    .panels-container {
      display: flex;
      flex: wrap;
      width: 100%;
      padding: 50px 5vw 50px 5vw;

      article {
        padding: 0 10px;

        @include md {
          background: red;
        }

        &.when {
          //width: 30%;
          flex-grow: 1;
        }

        &.where {
          flex-grow: 3;
        }

        header {
          font-size: 24px;
          color: #999;
          font-family: 'MontserratLight';
          text-align: left;
          padding-bottom: 2px;
        }

        .content-container {
          padding: 50px 0;
          border-radius: 3px;
          background-color: #fafafa;
        }
      }
    }
  }
}
